.missing {
    width: 100%;
    height: 100%;
    margin-left: 64px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze {
    background: black;
}

.text {
    color: white;
    position: fixed;
    background-color: black;
    padding: 10px;
    font-size: 30px;
    text-align: center;

    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

    z-index: 1;
    border-radius: 5px;
    box-shadow: -5px -5px 20px 7px #FF4D91, 5px 5px 20px 7px #00B30C;
}

@keyframes load {
    0%   {opacity: 0.9;}
    100% {opacity: 0.1;}
}