:root {
    --padding-size: 20px;
    --font-color: #181818;
}

.about-me-name {
    font-size: 4rem;
    font-family: "Space Mono", monospace;
}

/* Sections CSS */

.about-me-header {
    background: linear-gradient(#313131, #086891);
    color: var(--font-color);
}

.about-me-intro {    
    padding: var(--padding-size);
    background: linear-gradient(#086891, #24858f);
    color: var(--font-color);
}

.about-me-skills {
    padding: var(--padding-size);
    background: linear-gradient(#24858f, #3ca089);
    color: var(--font-color);
}

.about-me-react {
    padding: var(--padding-size);
    background: linear-gradient(#3ca089, #55bc80);
    color: var(--font-color);
}

.about-me-info {
    padding: var(--padding-size);
    background: linear-gradient(#55bc80, #6ed871);
    color: var(--font-color);
}

.about-me-links {
    padding: var(--padding-size);
    background-color: #6ed871;
    color: var(--font-color);
}

/* Sections' Header CSS */

.about-me-skills-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-react-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-info-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-links-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
    display: flex;
    justify-content: center;
}

.about-me-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}