.post {
    margin-bottom: 10px;
    width: 80vw;
    max-width: 1000px;
}

.post:hover {
    opacity: 0.75;
}

.link {
    text-decoration: none;
}

.top {
    display: flex;
}

.image-cell {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.image-cell img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.text-cell {
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.summary {
    font-size: 16px;
    overflow: hidden;
}

.chip-cell {
    padding: 10px;
}

.chip {
    margin: 2px;
}
