.article-page {
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at top left, #0122F5, #F5D469);
}

.article-header {
    padding: 40px;
}

.article-body {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.article-paper {
    width: 80vw;
    overflow-x: hidden;
}

.article {
    margin: 20px;
    font-size: 1rem;
}
