.post {
    margin-bottom: 10px;
    width: 80vw;
    max-width: 1000px;
}

.post:hover {
    opacity: 0.75;
}

.link {
    text-decoration: none;
}

.top {
    display: flex;
}

.image-cell {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.image-cell img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.text-cell {
    padding: 10px;
}

.title {
    font-size: min(20px, 5vw);
    font-weight: bold;
}

.read-level {
    padding-top: 10px;
}

.summary {
    font-size: min(16px, 5vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media all and (min-width: 1000px) and (max-width: 1100px) {
    .summary {
        -webkit-line-clamp: 6;
    }
}

@media all and (min-width: 0px) and (max-width: 1000px) {
    .summary {
        -webkit-line-clamp: 5;
    }
}

.chip-cell {
    padding: 10px;
}

.chip {
    margin: 2px;
}
