.page {
    width: 100%;
    height: 95%;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 65px;
    padding-top: 10px;
}

.article-paper {
    width: 80vw;
    overflow-x: hidden;
}

.article-paper::-webkit-scrollbar {
    width: 6px;
}

.article-paper::-webkit-scrollbar-track {
    background: none;
}

.article-paper::-webkit-scrollbar-thumb {
    background:radial-gradient(#366893, #FFA578);
    border-radius: 10px;
    height: 50px;
}

.article-paper::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(#FFA578, #366893);
}

.article {
    margin: 20px;
    font-size: 1rem;
}
