.page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: radial-gradient(circle at top left, #0122F5, #F5D469);
}

.article-paper {
    width: 80vw;
    overflow-x: hidden;
}

.article-paper::-webkit-scrollbar {
    width: 6px;
}

.article-paper::-webkit-scrollbar-track {
    background: none;
}

.article-paper::-webkit-scrollbar-thumb {
    background: radial-gradient(#F5D469, #0118ad);
    border-radius: 10px;
    height: 50px;
}

.article-paper::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(#0118ad, #F5D469);
}

.article {
    margin: 20px;
    font-size: 1rem;
}
