.list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#19FFE0, rgb(41 121 255));
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    padding-left: 20px; 
    padding-right: 20px; 
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background: none;
}

.list::-webkit-scrollbar-thumb {
    background: linear-gradient(#9d3001, #19FFE0);
    border-radius: 10px;
    height: 50px;
}

.list::-webkit-scrollbar-thumb:hover {
    background: #15ccb3;
}

.search {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    background: var(--bar-color);
    z-index: 9;
}

.pages {
    padding: 10px;
}

.page-size {
    background-color: var(--bar-color);
    border-radius: 5px;
    width: 120px;
    min-width: 120px;
    margin-bottom: 10px;
}

.blog {
    display: flex;
    flex-direction: row;
}

.blog-nav {
    width: 100px;
    background: linear-gradient(#19FFE0, rgb(41 121 255));
    flex-grow: 1;
    min-height: 100vh;
    overflow: auto;
}

.no-posts {
    margin-top: 50px;
    color: var(--bar-color);
}