.post {
    margin: 5px;
    width: 90vw;
    max-width: 1000px;
}

.post:hover {
    opacity: 0.75;
}

.image {
    width: 200px;
    height: 150px; 
    margin: 10px; 
    border-radius: 10px;
}

.chip {
    margin: 2px;
}
