/* CSS for Suspense loader */
.loader-container {
    display: flex;
    align-items: center;
    padding-left: 60px;
}

/* CSS for Welcome component */
.welcome-top {
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.bg-gradient {
    height: 100%;
    width: 100%;
    --circle-size: calc((100vw + 100vh) / 3);
    position: absolute;
    background: radial-gradient(
        var(--circle-size) circle at center,
        white 0%,
        grey 10%,
        rgb(30 41 59) 20%, 
        rgb(30 41 59) 40%, 
        rgb(41 121 255) 50%, 
        rgb(56 182 255),
        rgb(42 252 152)
    );
    mix-blend-mode: darken; 
    font-size: large;
    pointer-events: none;
    z-index: 3;
}

.bg-text {
    --x: 50vw;
    --y: 50vh;
    --circle-size: 50vw;
    height: 100%;
    color: #cecac6;
    word-wrap: break-word;
    mask-image: radial-gradient(
        var(--circle-size) circle at var(--x) var(--y), 
        white,
        black,
        transparent
    );
    -webkit-mask-image: radial-gradient(
        var(--circle-size) circle at var(--x) var(--y), 
        white,
        black,
        transparent
    );

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    mix-blend-mode: normal;

    overflow: hidden;
}

.welcome-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 60px;
    z-index: 1000;
}

.welcome-text-inner {
    padding: 10px;
    background: radial-gradient(
        black,
        transparent
    );
    cursor: pointer;
}

/* CSS for Donut component */

.container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.welcome {
    color:rgb(79, 185, 69);
    font-size: 6rem;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.click-me {
    color:rgb(79, 185, 69);
    font-size: 6rem;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: center;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    .welcome {
        font-size: 15vw;
    }
}
.center {    
    color:rgb(79, 185, 69);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
