.root {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    background-Image: radial-gradient(circle at top left, #fff7cc, #cb32a5);
    overflow-y: auto;
    flex-direction: row;
}
