:root {
    --bar-color: #181818;
}

.bar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 1vh 1vw 0 0;
}

.button-icon {
    color: var(--bar-color);
}

.drawer {
    height: 100%;
    background: var(--bar-color);
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.links {
    background: var(--bar-color);
    color: #ffffff;
}

.links-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
}
