:root {
    --bar-color: #181818;
}

.bar {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    background-color: var(--bar-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.button-icon {
    color: #ffffff;
}

.drawer {
    height: 100%;
    background: var(--bar-color);
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.links {
    background: var(--bar-color);
    color: #ffffff;
}

.links-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
}
