:root {
    --padding-size: 20px;
}

.about-me-name {
    font-size: 4rem;
    font-family: "Space Mono", monospace;
}

/* Sections CSS */

.about-me-header {
    background-color: #313131;
}

.about-me-intro {    
    padding: var(--padding-size);
    background-color: #086891;
}

.about-me-skills {
    padding: var(--padding-size);
    background-color: #24858f;
}

.about-me-react {
    padding: var(--padding-size);
    background-color: #3ca089;
}

.about-me-info {
    padding: var(--padding-size);
    background-color: #55bc80;
}

.about-me-links {
    padding: var(--padding-size);
    background-color: #6ed871;
}

/* Sections' Header CSS */

.about-me-skills-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-react-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-info-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
}

.about-me-links-header {
    font-size: 2rem;
    font-family: "Space Mono", monospace;
    display: flex;
    justify-content: center;
}

.about-me-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}