:root {
    --bar-color: #181818;
}

.test {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1200;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1), visibility 225ms cubic-bezier(0, 0, 0.2, 1);
}

.topen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 200px;
    padding: 0 0 0 10px;
    background-color: var(--bar-color);
}

.tfade {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, var(--bar-color) 10%, transparent);
}

.tbutton-icon {
    color: #fff;
}

.tbutton {
    display: flex;
    background: var(--bar-color);
}

.tlist {
    height: 95%;
}

.tdrawer {
    display: flex;
    align-items: flex-start;
    position: absolute;
    height: auto;
}

.tlinks {
    background: var(--bar-color);
    color: #ffffff;
}

.tlinks-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
}
